.search__input {
  width: calc(100% - 60px);
  height: 60px;
  background-color: #282828;
  border: 0;
  padding: 0 30px;
  font-size: 30px;
  outline: none;
  caret-color: #1db954;
  color: white;
}

.search__res-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 40px 20px;
}

.search__title {
  font-size: 30px;
  margin: 20px 0 10px 0;
  color: white;
}
